* {
  font-family: 'Inter', sans-serif;
}

::selection {
  background:rgba(0,0,0,0.4);
  color:white;
}

::-webkit-scrollbar {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-thumb {
  background:#C1C1C1; 
}

::-webkit-scrollbar-track {
  background:#F1F1F1;
}

body {
  background:rgb(255, 255, 255);
  
  /* background:rgb(242, 245, 248); */
}

.dialog-title-text {
  display:flex;
  align-items:center;
}

.app-container {
  display:flex;
  margin-top:4vw;
  margin-bottom:4vw;
}

a.active-link {
  color: #0053FF;
  background: #F5F8FF;
}

a.inline-link {
  color: #0053FF;
  text-decoration: none;
  font-weight: 500;
} a.inline-link:hover {
  opacity:0.8;
  background: #F5F8FF;
} a.inline-link:active {
  outline: solid 1px;
}

.large-button .MuiButton-label {
  justify-content:flex-start;
}

hr {
  border-style:solid none none none;
  border-width:1px;
  border-color:#EEEEEE;
  margin:2.5rem 0;
}

.error-help {
  font-size:0.875rem;
  color:#f44336;
  margin-top:-5px;
}

.bare-outline-box {
  border:1px solid #EEEEEE;
}
.outline-box {
  text-align: left;
  padding:10px 20px 40px 20px;
  border:1px solid #EEEEEE;
}

.big-text {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 30px;
  display: table;
}

.detail-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.detail-grid-row {
  display:grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 0.75em;
}

.detail-grid .detail-key {
  font-weight:500;
}

.matrix-container {
  position:absolute;
}

.matrix-head {
  padding:2vw 2vw 1vw 2vw;
  position:fixed;
  display:flex;
  column-gap: 1.5em;
  z-index:-1;
}

.matrix-head img {
  width:80px;
}

.matrix-body {
  margin-top:calc(3vw + 100px);
  position:sticky;
  top:0;
  background:white;

  display:flex;
  overflow:none;
  gap:1px;
}

.matrix-body .committee {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  
  gap:1px;
}

.matrix-body .committee .item {
  padding:0.7em 1em;
  width:200px;
}

.matrix-body .committee .item.head {
  background:black;
  color:white;
  font-weight:500;
  padding:1em;
  position:sticky;
  top:0;
}

.matrix-body .committee .item.vacant {
  background:rgba(29, 216, 29, 0.322);
}

.matrix-body .committee .item.taken {
  background:rgba(192, 67, 67, 0.479);
}

.hoverable {
  transition: all 0.13s cubic-bezier(0.165, 0.84, 0.44, 1); 
}
.hoverable:hover {
  background: #EEE;
  filter: brightness(0.9);
}
.hoverable:active {
  transform: scale(0.92);
}