* {
  font-family: 'Inter', sans-serif;
}

::selection {
  background:rgba(0,0,0,0.4);
  color:white;
}

::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-thumb {
  background:#C1C1C1; 
}

::-webkit-scrollbar-track {
  background:#F1F1F1;
}

body {
  background:rgb(255, 255, 255);
  
  /* background:rgb(242, 245, 248); */
}

.dialog-title-text {
  display:flex;
  align-items:center;
}

.app-container {
  display:flex;
  margin-top:4vw;
  margin-bottom:4vw;
}

a.active-link {
  color: #0053FF;
  background: #F5F8FF;
}

.large-button .MuiButton-label {
  justify-content:flex-start;
}

hr {
  border-style:solid none none none;
  border-width:1px;
  border-color:#EEEEEE;
  margin:2.5rem 0;
}

.error-help {
  font-size:0.875rem;
  color:#f44336;
  margin-top:-5px;
}

.outline-box {
  text-align: left;
  padding:10px 20px 40px 20px;
  border:1px solid #EEEEEE;
}

.big-text {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 30px;
  display: table;
}

